<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>App_Name<%= content_for?(:title) ? " - " + content_for(:title) : "" %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="header">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">App_Name</a>
            <div class="nav-collapse">
              <ul class="nav">
              </ul>
              <p class="navbar-text pull-right">
                <% if user_signed_in? -%>
                  <%= current_user.name %> 您好，欢迎回来 <%= link_to "退出", destroy_user_session_path, :method => :delete %>
                <% else -%>
                  请先<%= link_to "登录", new_user_session_path %>
                <% end -%>
              </p>
            </div> <!-- .nav-collapse -->
          </div> <!-- .container -->
        </div> <!-- .nav-inner-->
      </div> <!-- .topbar -->
    </header>
	<div id="content" role="main">
      <div class="container">
        <div class="row">
          <div class="span12">
            <%= render :partial => 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
	</div>
    <footer id="footer">
    </footer>
</body>
</html>
